<div class="about-section">
  <h1>About Us</h1>
  <p>Let our Experts handle your hospital pre-authorisation for R99.00 incl
    VAT. This include follow up calls to your medical Aid.</p>
    <p>Follow up calls
      to your doctor, if further clinical information is needed , we follow
      up. Saving you frustration and stress, most important your valuable
      time.</p>
  <p>This website uploads medical records for an individual</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dr Sibongile</h2>
        <p class="title">Director</p>
        <p>Dr Sibongile is a director at Auth Ease</p>
        <p>infor@authease.co.za</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Mellisa</h2>
        <p class="title">Director</p>
        <p>Mellisa is a director at Auth Ease</p>
        <p>infor@authease.co.za</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Busi</h2>
        <p class="title">Director</p>
        <p>Busi is a director at Auth Ease</p>
        <p>infor@authease.co.za</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="column">
      <p>email:infor@authease.co.za</p>
    </div>
    <div class="column">
      <p> website: www.authease.co.za</p>
    </div>
    <div class="column">
      <p>Cell: 0719345807</p>
    </div>
  </div>

</div>
