<nav class="navbar navbar-expand-md navbar-dark bg-primary" style="background-color:#3B5F84 !important;">
  <div>
    <img class="card-img-top img-thumbnail ml-right" src="{{'../../../../../assets/SouthLogo.jpg'}}" alt="Test">
  </div>
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Medical records</a>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/Home']">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/About']">About</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/Help']">Help</a>
    </li>
  </div>
</nav>