
  <div class="about-section">
    <br/>
    <h1>Welcome to Auth Ease</h1>
    <p>We are here to help, leave it in our hands.</p>
    <h1>Services:</h1>
    <p>* Authorisations</p>
    <p>* Medical Billing</p>
  </div>

  <h2 style="text-align:center">STEPS TO FOLLOW:</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>MAKE A PAYMENT:</h2>
        <p>Bank: FNB </p>
        <p>Branch Code: </p>
        <p>Account Number:</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>APPLICATION:</h2>
        <p>Once payment has been received, please click the button below so that we
          can assist you further.</p>
          <p><button class="button">Please Assist</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>PRE-AUTHORISATION:</h2>
       <p>Pre-authorisation in 4 easy steps for only R99.00 incl VAT.</p> 
        <p>You will receive your pre-authorisation. 95% of preauthorisation are
          completed by us within 48 hours. Urgent cases are prioritised.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="container">
        <img class="card-img-top img-thumbnail ml-right" src="{{'../../../../../assets/Logo.jpg'}}" alt="Test">
      </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="column">
        <p>email:infor@authease.co.za</p>
      </div>
      <div class="column">
        <p> website: www.authease.co.za</p>
      </div>
      <div class="column">
        <p>Cell: 0719345807</p>
      </div>
    </div>
  
  </div>
  

